// @import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import './theme.scss';

@font-face {
    font-family: "Gmarket";
    font-style: normal;
    font-weight: 100;
    src: url('../font/GmarketSansLight.woff') format("woff"),
    url('../font/GmarketSansLight.otf') format("opentype");
}

@font-face {
    font-family: "Gmarket";
    font-style: normal;
    font-weight: 400;
    src: url('../font/GmarketSansMedium.woff') format("woff"),
    url('../font/GmarketSansMedium.otf') format("opentype");
}

@font-face {
    font-family: "Gmarket";
    font-style: normal;
    font-weight: 700;
    src: url('../font/GmarketSansBold.woff') format("woff"),
    url('../font/GmarketSansBold.otf') format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height:calc(100vh - 7em);
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color:#333;
    font-family: 'Gmarket', sans-serif;
    background: #f8f9fb;
    line-height: 1.3;
    padding-bottom:4em;

    @media all and (max-width:640px){
        font-size:16px;
    }
}

input,
select,
textarea {
    font-size:0.9em;
    font-family: inherit;
    border:1px solid #ccc;
    max-width:100%; 
    border-radius: 0.3em;
}

input {
    height:2.5em;
    padding:0 1em;
    vertical-align: middle;
}

select {
    height:2.5em;
    padding:0 2em 0 1em;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

label {
    cursor: pointer;
}

input + label {
    vertical-align: middle;
    margin-left:0.25em;
}

button {
    font-size: initial;
    font-family: inherit;
    border-radius: 0;
    border:0;
    background: none;
    color:initial;
    cursor: pointer;
}

ul,
li,
ol {
    list-style: none;
}

a {
    font-size: initial;
    text-decoration: none;
    color:initial;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 0.9em;

    th {
        background: #f2f2f2;
        height:3em;
        padding: 0.5em;
    }
    
    td {
        height: 3em;
        padding: 0.5em;
        text-align: center;
        border-bottom: 1px solid #eee;
    }
}

.button {
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-size:0.85em;
    height: 2.5em;
    padding: 0.1em 1em 0;
    background:#999;
    color:#fff;
    border-radius: 0.3em;

    &.delete {
        background:$red;
    }

    &.add {
        width:2.5em;
        text-indent: -9999px;
        background:#fff;
        color:#959595;
        border:1px solid #aaa;
        padding:0;
        border-radius: 50%;
        overflow: hidden;

        &:before {
            content:"";
            display: block;
            width:50%;
            height:2px;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background:#959595;
        }

        &:after {
            content:"";
            display: block;
            width:2px;
            height:50%;
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            background:#959595;
        }
    }

    &.cancel {
        background:#fff;
        color:#959595;
        border:1px solid #aaa;
    }

    &.update {
        background:$blue;
    }

    &.submit {
        background:$blue;
    }
}

.txt-center {
    text-align: center;
}

.point {
    color:$red;
}

.custom-datepicker-button {
    max-width:100%;
    border:1px solid #ccc;
    height:2.5em;
    font-size:0.9em;
    padding:0 1em;
}