@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    color:#333;
    font-family: 'Noto Sans KR', sans-serif;
}