@import './theme.scss';

#header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:4em;
    background:#000;
    z-index: 10;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 1em;
        height: 100%;
        max-width:1600px;
        margin:0 auto;

        h1 {
            a {
                color:#fff;
                font-size:1.4rem;

                @media all and (max-width:640px){
                    font-size:1.2rem;
                }
            }
        }

        div {
            a {
                color:rgba(255,255,255,.8);

                @media all and (max-width:640px){
                    font-size:0.8rem;
                }
            }
        }
    }
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;

    @media all and (max-width:640px){
        flex-flow: row wrap;
    }

    a {
        display: flex;
        height:3em;
        align-items: center;
        padding:0.2em 3em 0;
        background:#f5f5f5;
        border-radius:1.5em;
        font-size:1em;
        margin:0 0.5em;
        white-space: nowrap;

        &.active {
            background:#000;
            color:#fff;
        }

        @media all and (max-width:1024px){
            height:2.5em;
            padding:0.2em 1.5em 0;
            margin:0 0.25em;
        }

        @media all and (max-width:640px){
            margin:0.25em;
            font-size:0.85em;
        }
    }
}

#footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:4em;
    background:#000;
    color:rgba(255,255,255,.8);

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 1em;
        height: 100%;
        max-width:1600px;
        margin:0 auto;
    }

    p {
        font-size:0.9em;
    }
}

#container {
    width:calc(100% - 3em);
    max-width: 1600px;
    margin:0 auto;
    margin-top:7em;
    background:#fff;
    padding:3em;
    box-shadow: 0.15vw 0.15vw 0.5vw rgba(0,0,0,.2);
    margin-bottom: 3em;
    border-radius: 0.5em;

    @media all and (max-width:640px){
        padding: 3em 1.5em;
    }

    .content-title {
        font-size:1.4em;
        text-align:center;
        margin-bottom:2em;
        
    }

    .submit-layout {
        text-align: center;
        margin-top: 3em;

        & > .button {
            margin: 5px;
        }
    }
}


#auth {
    text-align: center;

    & > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 250px;
        margin:0 auto;

        input {
            border-radius: 1.25em;
            text-align: center;
        }

        button {
            margin-top:0.5em;
        }
    }
}

#admin {

    & > p {
        color: $red;
        text-align: center;
    }

    .list {
        display:flex;
        dl {
            display:flex;
            margin-left:3em;
            width:50%;

            &:nth-child(1) {
                margin-left:0;
            }

            dt {
                width:150px;
                .button {
                    margin-top:0.5em;
                }
            }

            dd {
                width:calc(100% - 150px);
            }
        }

        @media all and (max-width:640px){

            & {
                flex-direction: column;
            }

            dl {
                width:100%;
                flex-flow: row wrap;
                margin-left:0;
                margin-top: 3em;

                &:nth-child(1) {
                    margin-top:0;
                }

                dt {
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    width:100%;
                    padding-bottom:1em;

                    br {
                        display:none;
                    }
                }

                dd {
                    width:100%;
                }
            }
        }
    }
}

#round-list {
    [class^=type] {
        padding: 0.5em 1em 0.25em;
        border-radius: 1.5em;
        background:#505050;
        color:#fff;

        &.type1 {
            background:#588526;
        }

        &.type2 {
            background: #976b00;
        }

        &.type3 {
            background: #334e9b;
        }

        &.type4 {
            background: #a82a2a;
        }

        &.type5 {
            background: #988800;
        }

        &.type6 {
            background: #5f287f;
        }
    }
}

// #member-list {
//     @media all and (max-width:640px) {
//         th:nth-child(1) {
//             display:none;
//         }
//         th:nth-child(3) {
//             width:140px;
//         }

//         td:nth-child(1) {
//             display:none;
//         }
//     }
// }

#round-list {
    a[class^=type] {
        display:inline-block;
        font-size:0.9em;
        word-break: keep-all;
    }
}

#round-detail {

    @media all and (min-width:641px){

        .react-datepicker-wrapper {
            width:auto;
        }
    
        .react-datepicker__input-container {
            width:auto;
        }
    
        .react-datepicker__tab-loop {
            display:inline-block;
        }
    }

    @media all and (max-width:950px){
        input[type=date] + span {
            display:block;
        }
    }

    .round-member-header {
        display:flex;
        min-height:3em;
        align-items: center;
        justify-content: space-between;
        font-weight:bold;
        border-bottom: 1px solid #ddd;

        @media all and (max-width:640px){
            & {
                display: none;
            }
        }

        & > span {
            &:nth-child(1) {
                width:10%;
            }
            &:nth-child(2) {
                width:20%;
            }
            &:nth-child(3) {
                width:10%;
            }
            &:nth-child(4) {
                width:10%;
            }
            &:nth-child(5) {
                width:10%;
            }
            &:nth-child(6) {
                width:40%;
            }
            
            @media all and (max-width:640px) {
                &:nth-child(1) {
                    display:none;
                }
                &:nth-child(2) {
                    width:30%;
                }
                &:nth-child(3) {
                    width:10%;
                }
                &:nth-child(4) {
                    width:10%;
                }
                &:nth-child(5) {
                    width:10%;
                }
                &:nth-child(6) {
                    width:40%;
                }
            }
        }
        
    }

    .round-member-data {
        display:flex;
        min-height:3em;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding:0.5em;

        @media all and (max-width:640px){
            flex-flow: row wrap;
        }
        
        &:last-child {
            border-bottom: 0;
        }

        & > span {
            padding:0.2em;

            [class^=state] {
                font-weight: bold;
            }

            .state1 {
                color:$blue;
            }

            .state2 {
                color:$red;
            }

            & > input:not([type=checkbox]) {
                width:100%;
            }

            &[class^=state] {
                font-weight: bold;
            }
            &.state1 {
                color:$blue;
            }

            &.state2 {
                color:$red;
            }

            &:nth-child(1) {
                width:10%;
            }
            &:nth-child(2) {
                width:20%;
            }
            &:nth-child(3) {
                width:10%;
            }
            &:nth-child(4) {
                width:10%;
            }
            &:nth-child(5) {
                width:10%;
            }
            &:nth-child(6) {
                width:40%;
                // text-align: left;
            }

            @media all and (max-width:640px) {
                &:nth-child(1) {
                    display:none;
                }
                &:nth-child(2) {
                    width:40%;
                }
                &:nth-child(3) {
                    width:20%;
                }
                &:nth-child(4) {
                    width:20%;
                }
                &:nth-child(5) {
                    width:20%;
                }
                &:nth-child(6) {
                    width:100%;
                    border-top:1px dashed #ddd;
                    padding-top:1em;

                    // &:before {
                    //     content:"비고 : ";
                    // }
                }
            }
        }
    }
}

.banner-scroll {
    width:100%;
    overflow-y: auto;
}

.banner-view {
    font-family: 'Omni', sans-serif;
    width: 1060px;
    margin: 0 auto;
    padding: 600px 100px 100px;
    background: url(../img/banner_top.jpg) no-repeat center top / 100%, url(../img/banner_bottom.png) no-repeat center bottom / 100%;

    input {
        text-align: center;
        width: 100%;
    }

    .view-wrap {
        padding:40px;
        background:#fff;
        text-align: center;
    }

    .view-title {
        margin-top:40px;
    }

    .view-logo {
        margin: 60px 0;
    }

    .view-txt1 {
        margin-bottom: 60px;

        p,
        input {
            color: #78726b;
            font-size: 22px;
            letter-spacing: 5px;
            font-weight: 100;
        }
    }

    .view-txt2 {
        position: relative;

        p,
        input {
            position: absolute;
            top:50%;
            left:0;
            right:0;
            text-align: center;
            font-size: 28px;
            transform: translateY(-50%);
        }
    }

    .view-rules {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 60px 0;

        .rule-item {
            width:calc((100% - 84px) / 3)
        }

        .rule-title {
            &,
            input {
                margin: 1em 0 0.5em;
                white-space: nowrap;
            }
        }

        .rule-txt {
            &,
            input {
                font-size:14px;
                color:#888888;
                word-break: keep-all;
                font-weight: 100;
            }
        }

        .rule-plus {
            width:42px;
        }
    }

    .view-compete1 {
        margin-bottom: 30px;
    }

    .view-compete2 {
        margin-bottom: 100px;
    }

    .view-inquiry {
        img {
            margin-bottom:60px;
        }

        .inquiry-item {
            margin-bottom:30px;

            span {
                font-size:22px;
                font-weight:100;
                color:#888;
                margin-right:1em;
            }

            strong {
                font-size:40px;
                display: inline-block;
                width:3em;
            }
        }
    }
}