@import './theme.scss';

#header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    height:4em;
    background:#000;
    z-index: 10;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 1em;
        height: 100%;
        max-width:1600px;
        margin:0 auto;

        h1 {
            a {
                color:#fff;
                font-size:1.4rem;
            }
        }

        div {
            a {
                color:rgba(255,255,255,.8);
            }
        }
    }
}

#footer {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:4em;
    background:#000;
    color:rgba(255,255,255,.8);

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 1em;
        height: 100%;
        max-width:1600px;
        margin:0 auto;
    }

    p {
        font-size:0.9em;
    }
}

#container {
    width:calc(100% - 3em);
    max-width: 1600px;
    margin:0 auto;
    margin-top:7em;
    background:#fff;
    padding:3em;
    box-shadow: 0.15vw 0.15vw 0.5vw rgba(0,0,0,.2);
    margin-bottom: 3em;
    border-radius: 0.5em;

    @media all and (max-width:640px){
        padding: 3em 1.5em;
    }

    .content-title {
        font-size:1.4em;
        text-align:center;
        margin-bottom:2em;
        
    }

    .submit-layout {
        text-align: center;
        margin-top: 3em;

        & > .button {
            margin: 5px;
        }
    }
}


#auth {
    text-align: center;

    & > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 250px;
        margin:0 auto;

        button {
            margin-top:0.25em;
        }
    }
}

#admin {
    .list {
        display:flex;
        dl {
            display:flex;
            margin-left:3em;
            width:50%;

            &:nth-child(1) {
                margin-left:0;
            }

            dt {
                width:150px;
                .button {
                    margin-top:0.5em;
                }
            }

            dd {
                width:calc(100% - 150px);
            }
        }

        @media all and (max-width:640px){

            & {
                flex-direction: column;
            }

            dl {
                width:100%;
                flex-flow: row wrap;
                margin-left:0;
                margin-top: 3em;

                &:nth-child(1) {
                    margin-top:0;
                }

                dt {
                    display:flex;
                    justify-content: space-between;
                    align-items: center;
                    width:100%;
                    padding-bottom:1em;

                    br {
                        display:none;
                    }
                }

                dd {
                    width:100%;
                }
            }
        }
    }
}

#round-list {
    [class^=type] {
        padding: 0.5em 0.5em 0.25em;
        border-radius: 0.3em;
        background:#505050;
        color:#fff;

        &.type1 {
            background:#588526;
        }

        &.type2 {
            background: #976b00;
        }

        &.type3 {
            background: #334e9b;
        }

        &.type4 {
            background: #a82a2a;
        }

        &.type5 {
            background: #988800;
        }

        &.type6 {
            background: #5f287f;
        }
    }
}

#member-list {
    @media all and (max-width:640px) {
        th:nth-child(1) {
            display:none;
        }
        th:nth-child(3) {
            width:140px;
        }
        th:nth-child(4) {
            width:75px
        }

        td:nth-child(1) {
            display:none;
        }
    }
}

#round-list {
    a[class^=type] {
        display:inline-block;
        font-size:0.9em;
        word-break: keep-all;
    }
}

#round-detail {

    @media all and (min-width:641px){

        .react-datepicker-wrapper {
            width:auto;
        }
    
        .react-datepicker__input-container {
            width:auto;
        }
    
        .react-datepicker__tab-loop {
            display:inline-block;
        }
    }

    @media all and (max-width:950px){
        input[type=date] + span {
            display:block;
        }
    }

    .round-member-header {
        display:flex;
        min-height:3em;
        align-items: center;
        justify-content: space-between;
        font-weight:bold;
        border-bottom: 1px solid #ddd;

        & > span {
            &:nth-child(1) {
                width:10%;
            }
            &:nth-child(2) {
                width:30%;
            }
            &:nth-child(3) {
                width:20%;
            }
            &:nth-child(4) {
                width:40%;
            }
            
            @media all and (max-width:640px) {
                &:nth-child(1) {
                    display:none;
                }
                &:nth-child(2) {
                    width:40%;
                }
                &:nth-child(3) {
                    width:20%;
                }
                &:nth-child(4) {
                    width:40%;
                }
            }
        }
        
    }

    .round-member-data {
        display:flex;
        min-height:3em;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding:0.5em;
        
        &:last-child {
            border-bottom: 0;
        }

        & > span {
            &[class^=state] {
                font-weight: bold;
            }
            &.state1 {
                color:$blue;
            }

            &.state2 {
                color:$red;
            }

            &:nth-child(1) {
                width:10%;
            }
            &:nth-child(2) {
                width:30%;
            }
            &:nth-child(3) {
                width:20%;
            }
            &:nth-child(4) {
                width:40%;
            }

            @media all and (max-width:640px) {
                &:nth-child(1) {
                    display:none;
                }
                &:nth-child(2) {
                    width:40%;
                }
                &:nth-child(3) {
                    width:20%;
                }
                &:nth-child(4) {
                    width:40%;
                }
            }
        }
    }
}