#auth {
    text-align: center;

    & > p {
        font-size: 1.4em;
        letter-spacing: -0.5px;
        margin-bottom: 1em;
    }

    & > form {
        display: flex;
        justify-content: center;
        align-items: stretch;

        button {
            background:#505050;
            padding: 0 1em;
            color:#fff;
            font-weight: bold;
        }
    }
}

#admin {
    .list {
        dl {
            display:flex;
            margin-bottom: 3em;

            dt {
                width:150px;
                .button {
                    margin-top:0.5em;
                }
            }

            dd {
                width:calc(100% - 150px);
            }
        }
    }
}

#round-list {
    [class^=type] {
        padding: 0.25em 0.5em;
        border-radius: 0.3em;
        background:#505050;
        color:#fff;

        &.type1 {
            background:#588526;
        }

        &.type2 {
            background: #976b00;
        }

        &.type3 {
            background: #334e9b;
        }

        &.type4 {
            background: #a82a2a;
        }

        &.type5 {
            background: #988800;
        }

        &.type6 {
            background: #5f287f;
        }
    }
}

#round-detail {
    .round-member-header {
        display:flex;
        min-height:3em;
        align-items: center;
        justify-content: space-between;
        font-weight:bold;
        border-bottom: 1px solid #ddd;

        & > span {
            &:nth-child(1) {
                width:10%;
            }
            &:nth-child(2) {
                width:30%;
            }
            &:nth-child(3) {
                width:20%;
            }
            &:nth-child(4) {
                width:40%;
            }
        }
    }

    .round-member-data {
        display:flex;
        min-height:3em;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        padding:0.5em;
        
        &:last-child {
            border-bottom: 0;
        }

        & > span {
            &[class^=state] {
                font-weight: bold;
            }
            &.state1 {
                color:#2d71ca;
            }

            &.state2 {
                color:#f44336;
            }

            &:nth-child(1) {
                width:10%;
            }
            &:nth-child(2) {
                width:30%;
            }
            &:nth-child(3) {
                width:20%;
            }
            &:nth-child(4) {
                width:40%;
            }
        }
    }
}